@charset 'utf-8';

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

body {
    /* 가로스크롤 방지 */
    overflow-x: hidden;
    color: rgb(29, 29 ,31);
    /* 글자 간격 */
    letter-spacing: -0.05em;
    background-color: white;
}

p {
    /* 문장 간 높이 */
    line-height: 1.6;
}

.global-nav {
    height: 44px;
}

.global-nav-links {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    /* 중앙정렬시 좌우 margin auto */
    margin: 0 auto;
}